.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start
}

.container .content{
  order: 1;
  width: 55%
}
.content .post{
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  height: 210px;
  margin-bottom: 80px;
  background-color: white
}

.content .post p{
  padding: 0 5px
}

.content .post a{
  color: black
}

.content .post h2{
  padding-top: 5px;
  margin-right: 5px
}

.content .post h2 a{
  margin-bottom: 10px
}

.content .post img{
  width: auto;
  height: 210px;
  float: left;
  margin-right: 10px
}

.content .post .player-container{
  margin: 10px auto
}

.content .post .info{
  margin-bottom: 10px;
  font-size: 1rem;
  font-style: italic
}

.content .pagination a,.content .pagination span{
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
  color: #01a0e4
}

.content .pagination a:hover{
  background-color: #f1f1f1;
  color: #333
}

.content .pagination{
  text-align: center;
  margin-bottom: 30px
}

.content .pagination .inactive{
  background-color: #f1f1f1
}

.container .content .single-post{
  padding-bottom: 100px
}

.container .content .single-post .categories{
  text-align: center;
  font-size: 1.2rem
}

.container .content .single-post img{
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 10px
}

.container .content .single-post p{
  font-size: 1.1rem
}

.container .content .single-post h2{
  text-align: center
}

.container .content .single-post h3{
  text-align: center;
  margin-top: 30px
}

.container .content .single-post a{
  text-decoration: none;
  color: black;
  display: inline-block;
  font-style: italic;
  border-bottom: 1px solid #01a0e4;
  line-height: 0.9;
  transition: background-color 0.1s cubic-bezier(0.33, 0.66, 0.66, 1)
}

.container .content .single-post a:hover{
  background-color: rgba(1,160,228,0.3);
  border-bottom: none
}

.container .content .single-post .video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 30px;
  height: 0;
  overflow: hidden;
  padding-bottom: 29.25%;
  padding-top: 30px;
  position: relative
}

.container .content .single-post .video iframe,.container .content .single-post .video object,.container .content .single-post .video embed{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.container .content .archive-group h2,.container .content .episodes h2{
  font-family: 'Karla', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px
}

.container .content .archive-group ul,.container .content .episodes ul{
  list-style: none
}

.container .content .archive-group ul li,.container .content .episodes ul li{
  line-height: 3rem;
  text-align: center
}

.container .content .archive-group ul li a,.container .content .episodes ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  font-style: italic;
  border-bottom: 1px solid #01a0e4;
  line-height: 0.9;
  transition: background-color 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  color: black
}

.container .content .archive-group ul li a:hover,.container .content .episodes ul li a:hover{
  background-color: rgba(0,160,227,0.2);
  border-bottom: none
}