main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>h1{
  margin: 3%;
}

#introduceContainer1{
  display: flex;
  margin: 10% 0;
  justify-content: center;
  text-align: center;
  visibility: hidden;
}
#introduceContainer2{
  position: absolute;
  display: flex;
  margin: 10% 0;
  justify-content: center;
  text-align: center;
  visibility: hidden;
}
#introduce1::before{
  visibility: visible;
  position: absolute;
  content: "안녕하세요";
  white-space: pre;
  text-align: left;
  overflow: hidden;
  color: black;
  animation: typing1 7s steps(10) infinite;
}
#introduce2::before{
  visibility: visible;
  position: absolute;
  content: "꼰대같은 개발자";
  white-space: pre;
  text-align: left;
  overflow: hidden;
  color: black;
  animation: typing2 7s steps(10) infinite;
}
#introduce3::before{
  visibility: visible;
  position: absolute;
  content: "장용민 입니다";
  white-space: pre;
  text-align: left;
  overflow: hidden;
  color: black;
  animation: typing3 7s steps(10) infinite;
}

@keyframes typing1{
  0%{
    width: 0;
    border-right: solid 1px black;
  }
  8%{
    border-right: solid 1px black;
  }
  9%{
    border-right: none;
  }
  10%{
    width: 100%;
  }
}
@keyframes typing2{
  0%{
    width: 0;
  }
  9%{
    border-right: none;  
  }
  10%{
    width: 0;
    border-right: solid 1px black;
  }
  19%{
    border-right: solid 1px black;
  }
  20%{
    width: 100%;
    border-right: none;
  }
}
@keyframes typing3{
  0%{
    width: 0;
  }
  19%{
    border-right: none;
  }
  20%{
    width: 0;
    border-right: solid 1px black;
  }
  29%{
    border-right: solid 1px black;
  }
  30%{
    width: 100%;
    border-right: none;
  }
}

#introduceDetailBox>p{
  text-align: center;
  margin-bottom: 2%;
  font-size: 180%;
}
main a{
  margin: 0 1%;
}
#profileContainer>section>p>div>a>:last-child{
  display: none;
}

@media(max-width: 800px),(max-height: 888px){
  #introduce1::before,#introduce2::before,#introduce3::before{
    font-size: small !important;
  }
  #introduceDetailBox{
    margin: 55% 0;
  }
  #profileContainer>section>p>div>a>:nth-child(2){
    display: none;
  }
  #profileContainer>section>p>div>a>:last-child{
    display: block;
  }
  #profileContainer>section>p>div{
    margin: 50% 0;
    flex-direction: row;
    justify-content: space-around;
  }
}
