#sidebarNav{
  position: fixed;
  top: 15%; bottom: 15%;
  right: 1%;
  width: 15%;
  order: 5;
  background-color: white;
  padding-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5)
}

#sidebarNav img{
  border: solid 5px rgb(1, 160, 228);
  padding: 10%;
}

#sidebarNav #info{
  margin-left: 6px;
  margin-right: 6px
}

#sidebarNav a{
  text-decoration: none
}

#sidebarNav ul{
  list-style-type: none
}

#sidebarNav ul li{
  margin-bottom: 3px
}

#sidebarNav ul li a{
  color: #01a0e4
}

#sidebarNav ul li a:hover{
  text-decoration: underline
}

#sidebarNav img{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px
}

#sidebarNav #social::before{
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: #d5d5d5
}

#sidebarNav #social::after{
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: #d5d5d5
}

#sidebarNav #social a{
  color: #a2a2a2;
  margin: 2px
}

#sidebarNav #social #twitter:hover{
  color: #1DA1F2
}

#sidebarNav #social #rss:hover{
  color: #f26522
}

#sidebarNav #social #envelope:hover{
  color: #5d5c5d
}

#sidebarNav #social #instagram:hover{
  color: #e1306c
}

#sidebarNav #social #facebook:hover{
  color: #3b5998
}

#sidebarNav #social #youtube:hover{
  color: red
}

@media(max-width: 768px){
  #sidebarNav h3,#info{
    display: none;
  }
}